.DS_Store

Upload/

application/config/App/**/*
!application/config/App/*
!application/config/App/**/*.php.example


application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
assets/dest/

/user_guide/

**/vendor/
**/node_modules/
tmp/
*.xls*

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
